{% extends 'home/base-light.html' %} {% load static %} {% block title %} Home {% endblock title %}
{% block extrahead %}
{% endblock extrahead %} {% block contents %}
<!-- <section class="mt-30px mb-30px">
  <div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3">reserve-app</h1>
        <p class="lead">
        </p>
        <hr class="my-2">
        <p>下のボタンからプロフィールの編集画面に移動できます。</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#!" role="button">プロフィール設定</a>
        </p>
    </div>
    <br>
    <ul class="list-group">
    </ul>
  </div>
</section> -->
    
{% endblock %}