{% extends 'home/base-light.html' %} {% load static %} {% load django_bootstrap5 %} {% block title %} イベント登録 {% endblock title %}

{% block contents %}

<div class="container-fluid">
    <br>

    <div class="card">
        <div class="card-header">
            <h1>イベント管理画面</h1><br>
        </div>

        <div class="card-body">
            自分が主催者となっているイベントの一覧が表示されます。
        </div>
    </div>
    {% for event in object_list %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ event.title }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ event.date }}</h6>
                <p class="card-text">
                    開催場所：{{ event.place }} <br>
                    定員：{{ event.capacity }}
                </p>
                <a href="{% url 'event:event-host-detail' event.pk %}" type="button" class="btn btn-primary">詳細情報</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    
{% endblock %}